@model UserClaimsViewModel

@{
    ViewBag.Title = "Manage User Claims";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <h2>Manage User Claims</h2>
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Claims.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                        <div class="form-group">
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input asp-for="@Model.Claims[i].IsSelected" class="custom-control-input" />
                                    <label class="custom-control-label" asp-for="@Model.Claims[i].IsSelected">@Model.Claims[i].ClaimType</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-auto">Update</button>
                    <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary w-auto">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>